:root {
    --primary: #28965a;
    --secondary: #FBB13C;
    --grey: #888d97;
    --red: #C84630;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1e1e;
        --color: #fff;
        --placeholder-color: #eee;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #fff;
        --color: #363636;
        --placeholder-color: #111;
    }
}*/

body {
    margin: 1rem;
    min-width: 19rem;
}

table {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1.4rem;

    border-collapse:separate; 
    border-spacing: 1rem 0.4rem;
}

table:nth-child(1) {
    font-size: 1.4rem;
}

table:last-child {
    margin-bottom: 0;
}

td:nth-child(2) {
    text-align: end;
}

.pie-chart-container {
    position: relative;
    width: 100%;
    aspect-ratio: 10/7;

    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-bottom: 1.4rem;
}

.pie-chart {
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    aspect-ratio: 1;
    border-radius: 100%;
}

.pie-chart > img {
    width: 100%;
}

#question-mark {
    font-size: 700%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#question-mark > p {
    margin: 0;
    padding: 0;
}

#request-count {
    text-align: center;
}

.is-hidden {
    display: none;
}

#background-pie {
    box-sizing: border-box;
    border: 2px solid transparent;
}

.is-primary {
    background-color: var(--primary);
}

.is-secondary {
    background-color: var(--secondary);
}

.is-grey {
    background-color: var(--grey);
}

.is-danger {
    background-color: var(--red);
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-grey {
    color: var(--grey);
}

.text-danger {
    color: var(--red);
}

.bold {
    font-weight: bold;
}